/* Header */
.hidden {
  display: none !important;
}

/* Form */
.label {
  margin: 0.5rem 0;
}

.row {
  width: 100%;
}

/* Container */
.container {
  padding: 0 1rem;
}

.image-url {
  width: 100%;
}

/* Text Area and Input */
.savebutton-container {
  display: flex;
}

.spacer {
  width: 100%;
}

/* Media */
@media screen and (min-width: 768px) {
  .container {
    max-width: 900px;
    margin: 0 auto;
  }

  .column-full,
  .column-half {
    display: flex;
    width: 100%;
  }

  .image-url {
    width: 50%;
  }

  .input-title-photourl {
    padding-left: 3%;
    width: 100%;
  }
}
